.nav-links {
    margin-right: 10px;
    text-decoration: none;
    color: #cabbbb;
    /* Text color */
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-links:hover {
    background-color: #f0f0f0;
    color: #333333;
    /* Hover background color */
}

.navbar {
    background-color: #3a3a3a;
    /* Navbar background color */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}