@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Components/Assets/styles.css";

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #141313;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}