@tailwind base;
@tailwind components;
@tailwind utilities;
 
.scrollbar-custom {
    @apply overflow-y-scroll; 
    /* Webkit */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-900  rounded-[25px]; /* thumb color and rounded corners */
    }
  
    &::-webkit-scrollbar-track {
      @apply bg-gray-100; /* track color */
    }
  }
  .sd{
    color: rgb(49, 22, 62);
    background-color: rgb(0, 0, 0);
  }